* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-container {
    width: min(50%, 700px);
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
}